* {
    box-sizing: border-box;
}




body {
    background-image: url(wall.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0;

}



h1 {
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    margin: 0;
}

@media(max-width:550px){
    h1 {
        font-size: 1.7rem;
    }
}



.count {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: #D25436;
    text-shadow: black 2px 2px;
    line-height: 50%;
    margin-right: 3px;

}

header{
    background-color: rgba(240,240,80);
    opacity: 0.9;
    padding: 3px;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    height: 100px;
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 2;
 
}

main {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.bottle {
    width: 100%;
    cursor: pointer;
    transition: all 0.3s;
}

.bottle:hover {
    transform: scale(1.1);
}

.bottle.drank {
    opacity: 0;
    visibility: hidden;
}